.his_web {
    float: left;
    width: 1902.5px;
    height: 550px;
    background-color: gainsboro;
    margin-bottom: 20px;
}

.his_cntnt {
    float: left;
    margin-left: 55px;
    margin-top: 25px;
    width: 1800px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    
}

.arrow {
    margin-top: 70px;
    margin-left: 50px;
    width: 200px;
    height: 200px;
    float: left;
    background-color: #fff;
}

.arrow img {
    width: 200px;
    height: 200px;
}

.his_web h1 {
    margin-top: 20px;
    margin-left: 760px;
    width: 400px;
    height: 50px;
    background-color: #0c151c;
    text-align: center;
    font-family: 'cntnt';
    line-height: 50px;
    color: #fff;
    border-radius: 10px;
}

.his_1 {
    float: left;
    margin-top: 30px;
    margin-left: 100px;
    width: 350px;
    height: 350px;
    background-color: #fff;
}

.his_2 {
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    width: 350px;
    height: 350px;
    background-color: #fff;
}

.his_3 {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    width: 350px;
    height: 350px;
    background-color: #fff;
}

.his_web h2 {
    font-family: 'cntnt';
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: #0c151c;
    color: #fff;
}

.his_web h3 {
    font-family: 'cntnt';
    margin-top: 20px;
    float: left;
    margin-left: 10px;
    text-align: left;
    width: 330px;
    height: 200px;
    background-color: #fff;

}
